*{
    margin: 0;
    padding: 0;
}
body{
    background : aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calci{
    width: 300px;
    height: max-content;
    margin: 150px 0;
    background-color: rgb(179, 176, 176);
}
.display{
    background-color: rgb(91, 88, 88);
    height: 50px;
    width: 270px;
    margin: 10px 10px 0 10px;
    border-radius: 5%;
    font-size: 1.5rem;
    color: white;
    
}
.num{
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-left: 9px;
    margin-bottom: 6px;
    background-color: rgb(48, 41, 41);
    color :white;
}
.buttons{
margin-left: 4px;
margin-right: 8px;
margin-top: 10px;
margin-bottom: 10px;
}
.num:hover{
    background-color: rgb(252, 248, 248);
    color: rgb(7, 7, 7);
}